.descService{
    width: 100%;
 }
 .descService .nested_desc_section{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
 }
 .nested_desc_section .desc_img{
     width: 100%;
 }
 .desc_service{
     width: 100%;
 }
 .desc_service h1{
     width: 100%;  
     font-size: 48px;
     font-weight: 700;
     padding: 0px 0px 20px;
     color: black;
 }
 
 .desc_service p{
     font-size: 16px;
     color: #a2a2a2;
     font-weight: 300;
     padding: 0 0 20px;
 }
 
 .btn_desc_section button{
     color: #ffffff;
     font-size: 18px;
     background: #ff961a;
     border: 1px solid transparent;
     padding: 15px 30px;
     font-family: 'Poppins';
     font-weight: 700;
     border-radius: 5px
 }