.SpecificNFT{
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100%;
position: relative;
background-image: url('../../../assests/banner/register_banner.jpg');
}
.all_data{
    width: 100%;
    background-color: #f0f0f0;
}
.nested_allData{
    width: 90%;
    margin: 0 auto;
}
.content_first_desc{
    color: blue;
    font-size: 18px;
}
.box{
    padding: 35px 25px;
    border-radius: 10px;
    background: #e3e3e3;
    margin-top: 1rem;
}
.box button{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 30px;
    width: 220px;
    padding: 12px 0px;
    margin-top: 20px;
}
.box span{
    /* display: block; */
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    line-height: 1.2;
    background: #040405;
    padding: 7px 8px;
    border-radius: 6px;
    text-align: center;
}
.details{
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
}
.details h5{
     font-size: 28px;
    border-bottom: 2px solid black;
}
.Characteristics h5{
    font-size: 28px;
    
}
.Characteristics div{
    background-color: white;
    padding: 12px;
    display: inline-flex;
    border: 0;
    padding: 12px 20px;
    border-radius: 10px;
    /* margin-top: 40px; */
}