.allnft{
    width: 100%;
    margin: 0px 0px;
    background-color: #f0f0f0;
}
.nested_nfts{
    width: 90%;
    margin: 0px auto;
    padding: 40px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(230px, 1fr));
    gap: 20px;
}
.nested_nfts .card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 12px;
}
.number{
    position: absolute;
    padding: 10px;
    background-color: black;
    color: white;
    bottom: -14px;
    left: 16px;
    background-color: #000;
    color: #fff;
    box-shadow: rgba(99,99,99,.2) 0 2px 8px 0;
    font-weight: 500;
 
    border-radius: 50rem!important;
       padding: 4px 15px;
}
.nft_img{
    border-top-right-radius: 12px !important;
    border-top-left-radius: 12px !important;
}
.content img{
    height: 40px;
    width: 40px;
    /* border-radius: 12px !important; */
}
.hearts{
    font-size: 18px;
    padding: 0px 12px;
    border-radius: 15px;
    border: 1px solid rgba(4,4,5,.1);
    background-color: #fafafa;
}
.content p{
    font-size: 1.2rem;
}
.digital_number{
    color: #0D9EFE;
}