.info_section{
    width: 100%;
}
.info_section .nested_info_section{
    width: 90%;
    margin: 0 auto;
}
.nested_info_section .card_info{
    padding: 35px;
    text-align: center;
    background: #f4eaf8;
    border: 2px solid #543572;
    border-radius: 15px;   
}